.form__fieldset {
  border-radius: 20px;
  font-size: 20px;
  border-color: silver;
  margin: 0 auto;
  width: 100%;
}
.form__header {
  padding: 20px;
  border-radius: 20px;
  background-color: cadetblue;
}
