html {
  box-sizing: border-box;
}

*,
::before,
::after {
  box-sizing: inherit;
}

body {
  width: 50%;
  margin: 0 auto;
  margin-top: 10px;
  font-size: 24px;
  font-family: "Lato", sans-serif;
  background-image: url(/public/imgs/converterBackground3.png);
  background-repeat: no-repeat;
  background-size: cover;
}
