html {
  box-sizing: border-box;
}

*,
::before,
::after {
  box-sizing: inherit;
}

body {
  width: 80%;
  margin: 0 auto;
  margin-top: 10px;
  font-size: 24px;
  font-family: "Lato", sans-serif;
  background-image: url(/public/imgs/bitcoin-2373265_1920.jpg);
  background-repeat: repeat;
  background-size: contain;
}
